GOERLI_RPC_URL='https://eth-goerli.g.alchemy.com/v2/yourApiKey'
ARBITRUM_RPC_URL='https://arb-mainnet.g.alchemy.com/v2/yourApiKey'
PRIVATE_KEY="YOURPRIVATEKRY"
REPORT_GAS=false
COINMARKETCAP_API_KEY=""
ETHERSCAN_API_KEY="YOURKEY"